<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.karbar.smskompresor" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <uses-permission android:name="android.permission.RECEIVE_SMS" />
        <activity
            android:name=".Activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <receiver android:name=".listener.SmsListener">
                <intent-filter>
                    <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                </intent-filter>
            </receiver>
        </activity>
        <activity
            android:name=".Activity.MessagesActivity"
            android:label="@string/title_activity_messages" >
        </activity>
        <activity
            android:name=".Activity.NewMessageActivity"
            android:label="@string/title_activity_new_message" >
        </activity>
    </application>

</manifest>
